black==23.7.0
click==8.1.7
colorama==0.4.6
halo==0.0.31
isort==5.12.0
libcst==0.4.10
log-symbols==0.0.14
mutagen==1.46.0
mypy-extensions==1.0.0
numpy==1.25.2
packaging==23.1
pathspec==0.11.2
Pillow==10.0.0
platformdirs==3.10.0
PyYAML==6.0.1
six==1.16.0
spinners==0.0.24
termcolor==2.3.0
toml==0.10.2
typing-inspect==0.9.0
typing_extensions==4.7.1
unimport==1.0.0
wavio==0.0.7
